<div class="container-fluid" id="notice" ng-controller="notice">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0);">
                <i class="glyphicon glyphicon-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="active">通知</li>
    </ol>
    <div class="table-list">
        <ul class="list" ng-show="list.length>0">
            <li ng-repeat="item in list">
                <span>{{item.createDate | date:"yyyy-MM-dd"}}</span> |
                <a href="javascript:void(0);" ng-click="lookNotice(item)">{{item.title}}</a>
            </li>
        </ul>
        <div class="nodata" ng-show="list.length==0">
            暂无数据
        </div>
        <div class="pagination-cont" ng-show="pageCount>1">
            <ul uib-pagination boundary-links="true" items-per-page="pageSize" force-ellipses="true" total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
    </div>
</div>
