<div class="container-fluid" id="my-statements" ng-controller="my-statements">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0);">
                <i class="glyphicon glyphicon-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="active">我的结算单</li>
    </ol>
    <div class="row" ng-show="statements">
        <div class="col-md-4">
            <div class="jumbotron">
                <h3>充值总额</h3>
                <p><strong>{{statements.rechargeMoney/100 | currency:"￥":2}}</strong></p>
                <p>
                    <span>充值笔数:<i>{{statements.count | number:0}}</i></span>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h3>结算总额</h3>
                <p><strong>{{statements.money/100 | currency : "￥" : 2}}</strong></p>
                <p>
                    <span>待打款:<i>{{statements.noMoney/100 | currency : "￥" : 2}}</i></span>，
                    <span>已打款:<em>{{statements.okMoney/100 | currency : "￥" : 2}}</em></span>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h3>利润</h3>
                <p><strong>{{statements.profit/100 | currency : "￥" : 2}}</strong></p>
                <p>
                    <span>总成本:<i>{{statements.cehgn/100 | currency : "￥" : 2}}</i></span>
                </p>
            </div>
        </div>
    </div>
    <uib-tabset active="active">
        <uib-tab index="0" heading="结算明细" select="changeType(1)"></uib-tab>
        <!--<uib-tab index="1" heading="已结算" select="changeType(2)"></uib-tab>-->
    </uib-tabset>
    <div class="table-list">
        <table class="table">
            <tr>
                <th>日期</th>
                <th>总笔数</th>
                <th>充值金额</th>
                <th>帐单金额</th>
                <th>佣金比例</th>
                <!--<th>状态</th>-->
            </tr>
            <tr ng-repeat="item in list">
                <td>{{item.date}}</td>
                <td>{{item.count}}</td>
                <td>{{item.rechargeMoney/100 | currency : "￥" : 2}}</td>
                <td>{{item.money/100 | currency : "￥" : 2}}</td>
                <td>{{item.scale}}</td>
                <!--<td>
                    <span class="status-1" ng-if="item.status==1">待打款</span>
                    <span class="status-2" ng-if="item.status==2">已打款</span>
                </td>-->
            </tr>
        </table>
        <div class="nodata" ng-show="list.length==0">
            暂无数据
        </div>
        <div class="pagination-cont" ng-show="pageCount>1">
            <ul uib-pagination boundary-links="true" items-per-page="pageSize" force-ellipses="true" total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
    </div>
</div>
