<div id="statistics" class="container-fluid" ng-controller="statisticsx">
	 <ol class="breadcrumb">
        <li><a href="javascript:void;">Home</a></li>
        <li><a href="javascript:void;">订单统计</a></li>
    </ol>
   
   <div class="xd" ng-class="xdshow?'xdShow':'xdHide'">
    {{xdtitle}}
   </div>
    
 			
		  <uib-tabset active="active">
		    <uib-tab index="0" heading="订单统计">
		    	<div class="row" style="padding: 1rem;">
		    		<div class="col-sm-3">
		    			<div class="panel panel-default">
						  <div class="panel-heading">今日充值</div>
						  <div class="panel-body">
						    <div class="top_coin">
						    	34798798.00
						    </div>
						  </div>
						</div>
		    		</div>
		    		<div class="col-sm-3"></div>
		    		<div class="col-sm-3"></div>
		    		<div class="col-sm-3"></div>
		    	</div>
						    	
		    	
		    </uib-tab>
			<uib-tab index="1" heading="用户统计">
				
		    	
			</uib-tab>
			
			
		  </uib-tabset>
		  
 			
</div>
