<div id="aside">
    <div class="container-fluid">
        <ul class="nav nav-pills nav-stacked ">
            <li role="presentation" class="active">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>首页</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <i class="glyphicon glyphicon-bullhorn"></i>
                    <span>通知</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <i class="glyphicon glyphicon-stats"></i>
                    <span>统计</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>首页</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <i class="glyphicon glyphicon-bullhorn"></i>
                    <span>通知</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <i class="glyphicon glyphicon-stats"></i>
                    <span>统计</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>首页</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <i class="glyphicon glyphicon-bullhorn"></i>
                    <span>通知</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <i class="glyphicon glyphicon-stats"></i>
                    <span>统计</span>
                </a>
            </li>
        </ul>
    </div>
</div>
