<div id="aside">
    <div class="container-fluid">
        <ul class="nav nav-pills nav-stacked ">
            <!-- <li role="presentation" ui-sref-active="active">
                <a ui-sref="warpper.views.section.home">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>首页</span>
                </a>
            </li> -->
            <li role="presentation" ui-sref-active="active">
                <a ui-sref="warpper.views.section.novels">
                    <i class="glyphicon glyphicon-list"></i>
                    <span>图书列表</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <i class="glyphicon glyphicon-stats"></i>
                    <span>统计</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>首页</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <i class="glyphicon glyphicon-bullhorn"></i>
                    <span>通知</span>
                </a>
            </li>
            
            <!--cmw use-->
            <li role="presentation">
                <a ui-sref="warpper.views.section.agent">
                    <i class="glyphicon empty glyphicon glyphicon-user"></i>
                    <span>代理管理</span>
                </a>
            </li>

        </ul>
    </div>
</div>
