#chapter-modify .jumbotron img {
  max-width: 100%;
}

#chapter-modify .jumbotron h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

#chapter-modify .jumbotron p {
  font-size: 16px;
}

#chapter-modify textarea {
  resize: vertical;
}

#chapter-modify .table {
  table-layout: fixed;
}

#chapter-modify .table td {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
