<div class="container-fluid" id="chapter-modify" ng-controller="chapter-modify">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0);">
                <i class="glyphicon glyphicon-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li><a ui-sref="warpper.views.section.novels">图书列表</a></li>
        <li><a ui-sref="warpper.views.section.novel({id:id,name:novel.name})">{{novel.name}}</a></li>
        <li class="active">章节修改</li>
    </ol>

    <div class="jumbotron" ng-show="novel.name">
        <div class="row">
            <div class="col-sm-4 col-lg-3">
                <img ng-src="{{novel.coverImg}}" alt="">
            </div>
            <div class="col-sm-8 col-lg-9">
                <h1>{{novel.name}}</h1>
                <p>作者：{{novel.author}}</p>
                <p>字数：{{novel.words | number}}</p>
                <p>{{novel.introduction}}</p>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()"><strong>错误：</strong>{{alert.msg}}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">章节标题</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="title" placeholder="请输入章节标题">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">章节费用</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" ng-model="gold" placeholder="请填入整数，0 代表免费">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">章节内容</label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="20" ng-model="content" placeholder="章节内容"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-primary" ng-click="modifyChapter()">修改</button>
            </div>
        </div>
    </div>
</div>
