<div class="container-fluid" id="agent" ng-controller="agentctl">
	 <ol class="breadcrumb">
		 <li>
			 <a href="javascript:void(0);">
				 <i class="glyphicon glyphicon-home"></i>
				 <span>Home</span>
			 </a>
		 </li>
		 <li class="active">代理管理</li>
    </ol>

     <div class="xd" ng-class="xdshow?'xdShow':'xdHide'">
    {{xdtitle}}
   </div>

    <!--<div class="container">-->
    	 <button ui-sref="warpper.views.section.agentedit" type="button" class="btn btn-primary" style="margin-bottom: 15px;">添加代理</button>


    	 	<div class="input-group search_btn">
			  <input type="text" ng-model="search.search" class="form-control" placeholder="搜索昵称" aria-describedby="basic-addon1">
			  	<span ng-click="getList()" class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" href="javascript:void"></span></span>
			</div>



		  <uib-tabset active="active">
		    <uib-tab select="cgIndex(1)" index="0" heading="当前代理">
		    	<table class="table table-striped">
		    		 <thead>
		                <tr>
		                    <th>昵称</th>
		                    <th>佣金比例</th>
		                    <th>注册时间</th>
		                    <th>等级</th>
		                    <th>操作</th>

		                </tr>
		            </thead>
           			 <tbody>
              		 <tr ng-repeat="x in list">
					  <td class="active">
<!--					  	<span uib-dropdown on-toggle="toggled(open)">-->
					      <a href id="simple-dropdownx" uib-dropdown-toggle>
					       {{x.nickName}}({{x.account}})
					      </a>
					      <!--<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdownx">
					        <li style="padding: 10px;">
					     		<div>用户名： 白色风车</div><br />
					     		<div>昵称： 洞头在线</div><br />
					     		<div>所属渠道：爱乐书城</div><br />
					     		<div>渠道公众号：</div>
					     		<img style="width: 16rem;" src="../../assets/image/promo-coverimg-03.jpg" alt="" />
					        </li>
					      </ul>
					    <!--</span>-->
					  </td>
					  <td class="success">{{x.scale}}</td>
					  <td class="warning">{{x.createDate | date:"yyyy/MM/dd HH:mm"}}</td>
					  <td class="danger"><span style="background-color: cornflowerblue; padding: 3px 6px; color: white;">{{x.grade==0?'待定':''}}{{x.grade==1?'差':''}}{{x.grade==2?'良':''}}{{x.grade==3?'优':''}}</span></td>
					  <td class="info">
					  	<span uib-dropdown on-toggle="toggled(open)">
					      <a href id="simple-dropdown" uib-dropdown-toggle>
					       操作菜单
					      </a>
					      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
					        <li ng-repeat="choice in items" ng-click="menuX(choice,x)">
					          <a href>{{choice}}</a>
					        </li>
					      </ul>
					    </span>

					  </td>
					</tr>
            		</tbody>

				</table>
		    </uib-tab>
			<uib-tab select="cgIndex(2)" index="1" heading="已禁止代理">

		    	<table class="table table-striped">
		    		 <thead>
		                <tr>
		                    <th>昵称</th>
		                    <th>佣金比例</th>
		                    <th>注册时间</th>
		                    <th>等级</th>
		                    <!--<th>操作</th>-->

		                </tr>
		            </thead>
           			 <tbody>
              		 <tr ng-repeat="x in list">
					  <td class="active">
					  	<a href id="simple-dropdownx" uib-dropdown-toggle>
					       {{x.nickName}}({{x.account}})
					      </a>
					  </td>
					  <td class="success">{{x.scale}}</td>
					  <td class="warning">{{x.createDate | date:"yyyy/MM/dd HH:mm"}}</td>
					  <td class="danger"><span style="background-color: cornflowerblue; padding: 3px 6px; color: white;">{{x.grade==0?'待定':''}}{{x.grade==1?'差':''}}{{x.grade==2?'良':''}}{{x.grade==3?'优':''}}</span></td>
					  <!--<td class="info">666</td>-->
					</tr>
            		</tbody>

				</table>
			</uib-tab>

		  </uib-tabset>

		<div class="app-pagination">
        <ul
            uib-pagination
            ng-change="pageGo()"
            items-per-page="20"
            num-pages="pageCount"
            total-items="rowCount"
            ng-model="pageIndex"
            max-size="5"
            boundary-links="true"
            rotate="true"
            first-text="&laquo;"
            last-text="&raquo;"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"></ul>
    </div>


</div>
