<div class="container-fluid" id="site-settings" ng-controller="site-settings">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0);">
                <i class="glyphicon glyphicon-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="active">网站设置</li>
    </ol>
    <uib-tabset active="active">
        <uib-tab index="0" heading="公众号设置">
            <div class="alert alert-warning alert-dismissible">
                <strong>注意: </strong> 接入公众号必须是 “ 认证服务号 ”
            </div>
            <div uib-alert ng-repeat="alert in alerts" class="alert-warning" close="closeAlert()">{{alert.msg}}</div>
            <form class="form-horizontal" name="save" novalidate ng-submit="submit()">
                <div class="form-group">
                    <label class="col-sm-3 control-label">网站首页</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{wx.homeUrl || '无'}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">原始ID</label>
                    <div class="col-sm-5" ng-class="{'has-error':save.baseId.$invalid && save.baseId.$dirty}">
                        <input type="text" class="form-control" name="baseId" ng-model="wx.baseId" required placeholder="微信公众平台的原始ID">
                        <span class="help-block">注意: 上线后请不要更改公众号，否则会影响先前的粉丝，如需换号请申请开新号</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">微信号</label>
                    <div class="col-sm-5" ng-class="{'has-error':save.wechat.$invalid && save.wechat.$dirty}">
                        <input type="text" class="form-control" name="wechat" ng-model="wx.wechat" required placeholder="微信用户可通过该微信号搜索到你的公众账号">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">昵称</label>
                    <div class="col-sm-5" ng-class="{'has-error':save.name.$invalid && save.name.$dirty}">
                        <input type="text" class="form-control" name="name" ng-model="wx.name" required placeholder="微信公众账号展示的昵称">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">App ID</label>
                    <div class="col-sm-5" ng-class="{'has-error':save.appId.$invalid && save.appId.$dirty}">
                        <input type="text" class="form-control" name="appId" ng-model="wx.appId" required placeholder="开发者的AppID">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">App Secret</label>
                    <div class="col-sm-5" ng-class="{'has-error':save.appsecret.$invalid && save.appsecret.$dirty}">
                        <input type="text" class="form-control" name="appsecret" ng-model="wx.appsecret" required placeholder="开发者的应用密钥">
                    </div>
                </div>
                <div class="form-actions">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-primary" ng-disabled="save.$invalid">保存</button>
                            <button type="button" class="btn btn-default" ng-click="refresh()">刷新</button>
                        </div>
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="1" heading="公众号接入">
            <!--  disable="!wx.baseId || !wx.wechat || !wx.name || !wx.appId || !wx.appsecret" -->
            <div uib-alert ng-repeat="alert in menuAlerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeMenuAlert()">
                <strong>消息：</strong>{{alert.msg}}
            </div>
            <div class="form-horizontal">
                <div class="alert alert-info">
                    <b>微信公众平台 &gt; 公众号设置 &gt; 功能设置</b>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-lg-3 control-label">业务域名</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{wx.busUrl}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-lg-3 control-label">JS接口安全域名</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{wx.jsUrl}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-lg-3 control-label">网页授权域名</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{wx.webUrl}}</p>
                    </div>
                </div>
                <div class="alert alert-info">
                    <b>微信公众平台 &gt; 基本配置 &gt; 修改配置</b>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-lg-3 control-label">URL（服务器地址）</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{wx.serviceUrl}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-lg-3 control-label">Token（令牌）</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{wx.token}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-lg-3 control-label">EncodingAESKey（消息加解密密钥）</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{encodingAESKey || '随机生成'}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-lg-3 control-label">消息加解密方式</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">{{encryptType || '明文模式'}}</p>
                    </div>
                </div>
                <div class="alert alert-info">
                    <b>微信公众平台 &gt; 基本配置 &gt; IP白名单</b>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-lg-3 control-label">配置IP白名单</label>
                    <div class="col-sm-5">
                        <p class="form-control-static">47.93.120.159</p>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-lg-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-primary" ng-click="generateMenu()">生成菜单</button>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
