<div class="container-fluid" id="novel-add" ng-controller="novel-add">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0);">
                <i class="glyphicon glyphicon-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="active">添加图书</li>
    </ol>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()"><strong>消息：</strong>{{alert.msg}}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">封面图</label>
            <div class="col-sm-5 clearfix">
                <div class="w60">
                    <input id="coverImg" ng-show="!coverImgBase64" file-bind-pic="coverImgBase64" type="file" accept="image/*">
                    <img ng-show="coverImgBase64" ng-src="{{coverImgBase64}}" alt="..." class="img-thumbnail">
                </div>
                <div class="fl">
                    <button ng-show="coverImgBase64" type="button" class="btn btn-default" ng-click="coverImgBase64=''">重新上传封面图</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">书名</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="name" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">类别</label>
            <div class="col-sm-5">
                <select class="form-control" ng-model="type">
                	<!--('15','科幻'),
					('14','职场'),
					('13','青春'),
					('12','历史'),
					('11','惊悚'),
					('10','仙侠'),
					('9','长篇小说'),
					('8','异界'),
					('7','玄幻'),
					('6','军事'),
					('5','穿越'),
					('4','军事'),
					('3','悬疑'),
					('2','言情'),
					('1','都市')-->
                	
                	<option value="1">都市</option>
                    <option value="2">言情</option>
                    <option value="3">悬疑</option>
                    <option value="4">军事</option>
                    <option value="5">穿越</option>
                    <option value="6">军事</option>
                    <option value="7">玄幻</option>
                    <option value="8">异界</option>
                    <option value="9">长篇小说</option>
                    <option value="10">仙侠</option>
                    <option value="11">惊悚</option>
                    <option value="12">历史</option>
                    <option value="13">青春</option>
                    <option value="14">职场</option>
                    <option value="15">科幻</option>
                	
                	
                    <!--<option value="1">总裁豪门</option>
                    <option value="2">都市言情</option>
                    <option value="3">恐怖悬疑</option>
                    <option value="4">历史架空</option>
                    <option value="5">青春校园</option>
                    <option value="6">官场红文</option>
                    <option value="7">东方玄幻</option>
                    <option value="8">星际科幻</option>-->
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">频度</label>
            <div class="col-sm-5">
                <select class="form-control" ng-model="sex">
                    <option value="0">通用</option>
                    <option value="1">男频</option>
                    <option value="2">女频</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">作者</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="author" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">字数</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="words" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">简介</label>
            <div class="col-sm-5">
                <textarea class="form-control" rows="3" ng-model="introduction"></textarea>
            </div>
        </div>

        <div class="form-actions">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <button type="submit" class="btn btn-primary" ng-click="addBook()">添加图书</button>
                </div>
            </div>
        </div>
    </div>
</div>
