#novel-add{
    .alert{
        margin-bottom: 0;
    }
    .w60{
        float: left;
        max-width: 60%;
        margin-right: 20px;
        img{
            margin-bottom: 10px;
        }
    }
    .fl{
        float: left;
    }
    textarea{
        resize: vertical;
    }

}
