<div class="container-fluid" id="promotion-letters" ng-controller="promotion-letters">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0);">
                <i class="glyphicon glyphicon-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li><a ui-sref="warpper.views.section.novels">图书列表</a></li>
        <li><a ui-sref="warpper.views.section.novel({id:id,name:name})">{{name}}</a></li>
        <li class="active">推广文案</li>
    </ol>
    <div class="container-fluid">
        <div class="template-content">
            <div class="promo-template">
                <div class="promo-template-title">
                    <h1 id="article-title" class="article-title">{{templateTitle.txt}}</h1>
                </div>
                <div class="promo-template-coverimg" id="article-coverimg">
                    <img ng-src="{{templateCoverimg.pic}}" alt="">
                </div>
                <div id="article-body" class="promo-template-body" ng-include="templateBodyStyle.templateUrl"></div>
                <div id="article-footer" class="promo-template-footer" ng-include="templateFooter.templateUrl"></div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="set-template">
                <ul class="button-list clearfix">
                    <li class="dropdown" uib-dropdown>
                        <button class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle>
                            文案标题
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li ng-repeat="item in templateTitles track by $index"><a href="javascript:void(0);" ng-click="changeTitle($index,'article-title')">{{item.txt}}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" uib-dropdown>
                        <button class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle>
                            文案封面
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li ng-repeat="item in templateCoverimgs track by $index"><a href="javascript:void(0);" ng-click="changeCoverimg($index,'article-coverimg')"><img ng-src="{{item.pic}}" alt=""></a></li>
                        </ul>
                    </li>
                    <li class="dropdown" uib-dropdown>
                        <button class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle>
                            正文模板
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li ng-repeat="item in templateBodys track by $index"><a href="javascript:void(0);" ng-click="changeBody($index,'article-body')"><img ng-src="{{item.pic}}" alt=""></a></li>
                        </ul>
                    </li>
                    <li class="dropdown" uib-dropdown>
                        <button class="btn btn-default dropdown-toggle" type="button" uib-dropdown-toggle>
                            原文引导模板
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li ng-repeat="item in templateFooters track by $index"><a href="javascript:void(0);" ng-click="changeFooter($index,'article-footer')"><img ng-src="{{item.pic}}" alt=""></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <div class="btn-group">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-info" ng-click="createLink()">生成推广链接</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'success')" close="closeAlert()">{{alert.msg}}</div>
</div>
