.create-link-modal{
    .modal-header{
        padding: 12px 15px;
        .close {
            margin-top: 8px;
        }
        .modal-title{
            line-height: 1.5;
            font-size: 22px;
        }
    }

    .modal-footer{
        padding: 12px 15px;
        .copyLinkMsg{
            display: inline-block;
            margin-right: 10px;
            color: #449d44;
            line-height: 1;
        }
    }

    .modal-body{
        .form-horizontal{
            .book-coverimg{
                img{
                    max-height: 100px;
                    width: auto;
                    display: block;
                }
            }
            b,a{
                padding-top: 7px;
                display: inline-block;
            }
            .tip{

            }
            .warning{
                color: red;
            }
        }
    }
}
