<div class="app-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h3 class="modal-title">推广链接</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="book-coverimg">
                            <img src="../../assets/image/promo-coverimg-01.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">书名</label>
                    <div class="col-sm-10">
                        <b>葵花宝典</b>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">原文章节</label>
                    <div class="col-sm-10">
                        <b>第三章 请咱吃饭</b>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">原文链接</label>
                    <div class="col-sm-10">
                        <a href="http://www.baidu.com" target="_blank">http://www.baidu.com</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <p class="tip">请复制上方推广链接，后续您可以在后台菜单的"推广链接"中找到它并查看统计数据</p>
                        <p class="warning">
                            <i class="glyphicon glyphicon-exclamation-sign"></i>
                            <span>请务必使用此链接作为文案的原文链接，不要使用微信中点开后手工复制的链接</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <p class="copyLinkMsg">{{copyLinkMsg}}</p>
        <button class="btn btn-primary" type="button" clip-copy="copyContent" clip-click="copyLink()">复制链接</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
    </div>
</div>
