<section class="promo-template-section" ng-repeat="items in chapters track by $index">
    <section class="section-header">
        <section class="center">
            <span></span><span></span><span></span><span>{{items.chapterTitle}}2</span><span></span><span></span><span></span>
        </section>
    </section>
    <section class="section-body">
        <p ng-repeat="item in items.chapterContent track by $index">{{item}}</p>
    </section>
    <section class="section-footer"><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></section>
</section>
