<div class="promo-template-section" ng-repeat="items in chapters track by $index">
    <div class="section-header">
        <div class="center">
            <span></span><span></span><span></span><span>{{items.chapterTitle}}3</span><span></span><span></span><span></span>
        </div>
    </div>
    <div class="section-body">
        <p ng-repeat="item in items.chapterContent track by $index">{{item}}</p>
    </div>
    <div class="section-footer"><span></span><span></span><span></span></div>
</div>
