<div class="container-fluid" id="promotion-link" ng-controller="promotion-link">
    <ol class="breadcrumb">
        <li>
            <a href="javascript:void(0);">
                <i class="glyphicon glyphicon-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li><a ui-sref="warpper.views.section.novels">图书列表</a></li>
        <li><a ui-sref="warpper.views.section.novel({id:id,name:name})">{{name}}</a></li>
        <li class="active">推广链接</li>
    </ol>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="template-content">
                    <div class="promo-template">
                        <div class="promo-template-title">
                            <h1 class="article-title">{{templateTitle.txt}}</h1>
                        </div>
                        <section id="tpl-body-copy">
                            <section class="promo-template-coverimg">
                                <img ng-src="{{templateCoverimg.pic}}" alt="">
                            </section>
                            <section class="promo-template-body" ng-include="templateBodyStyle.templateUrl"></section>
                            <section class="promo-template-footer" ng-include="templateFooter.templateUrl"></section>
                        </section>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="link">
                    <b>推广链接：</b>
                    <a href="javascript:void(0);" target="_blank">{{link}}</a>
                </p>
                <p class="tip">请复制上方推广链接，后续您可以在后台菜单的"推广链接"中找到它并查看统计数据</p>
                <p class="warning">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                    <span>请务必使用此链接作为文案的原文链接，不要使用微信中点开后手工复制的链接</span>
                </p>
                <div class="btn-list">
                    <div class="btn-group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-info" ngclipboard data-clipboard-text="{{templateTitle.txt}}" ngclipboard-success="copyTitleSuccess(e)" ngclipboard-error="copyTitleError(e);">复制标题</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-info"ngclipboard data-clipboard-target="#tpl-body-copy" ngclipboard-success="copyBodySuccess(e)" ngclipboard-error="copyBodyError(e);">复制正文</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-info" ngclipboard data-clipboard-text="{{link}}" ngclipboard-success="copyLinkSuccess(e)" ngclipboard-error="copyLinkError(e);">复制推广链接</button>
                        </div>
                    </div>
                </div>
                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'success')" close="closeAlert()">{{alert.msg}}</div>
            </div>
        </div>
    </div>
</div>
